---
layout: workshop
root: .
venue: 한국전파진흥협회(RAPA)
address: 서울특별시 양천구 목동중앙로 13나길 3
country: 한국
humandate: Feb 00-00, 2015
humantime: 9:00 am - 6:00 pm
startdate: 2014-02-00
enddate: 2014-00-00
latlng: 37.5461345,126.88066530000003
registration: restricted
instructor: ["xwmooc"]
helper: ["이광춘"]
contact: kwangchun.lee.7@gmail.com
#redirect: http://www.3rd.party.workshop.home.page.com
#eventbrite: 00000000000
lessons: ['컴퓨터 과학 언플러그드', 'R', 'Python', 'SQL', 'Git', 'Bash', 'VM', 'cloud', 'web application']
---
<!--
    Edit the values in the parameter block above to be appropriate for your workshop.
    Please use three-letter month names for the 'humandate' field.
-->

<h2>디지털 콘텐츠 소프트웨어 교육 정보</h2>

<p> 국내 스마트콘텐츠 기업들의 신시장 선점, 각종 산업과의 동반성장을 견인할 ICT 융합형 스마트콘텐츠 
  전문인력 양성을 위해서, 해외 우수 소프트웨어 및 디지털 콘텐츠 교육과정을 발굴하여, 실무중심의 
  글로벌하게 검증된 교육프로그램을 실시한다.
  단, 3일간의 워크숍 교육을 통해서 비전산 전공자들이 접하지 못한 컴퓨터적 사고, 프로그래밍과 코딩, 컴퓨터 유창성을 
  컴퓨터 과학 언플러그드, 프로그램 설계, 버젼 관리, 데이터 관리, 업무 자동화, 클라우드, 웹 어플리케이션 강의 및 실습을 통해서
  평생의 경쟁력 우위 요소를 습득하여, 실무에 접목해 나간다.
</p>

<!--
    Modify this block to reflect the target audience for your workshop.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>교육 대상:</strong>
  예비 창업자, 스타트업 기업인, 방송통신 분야 재직자
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  찾아오시는 길
  <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  혹은,
  <a href="//maps.google.com/maps?q={{ page.latlng }}">구글 지도</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>교육 준비물:</strong>
  <a href="http://software-carpentry.org/conduct.html">Code of Conduct</a> 준수.
  <a href="http://statkclee.github.io/csunplugged-md/csunplugged/">컴퓨터 과학 언플러그드</a> 예습
  <a href="http://python.xwmooc.net/">정보교육을 위한 파이썬</a> 예습 
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>연락처</strong>:
  궁금한 점 문의 전자우편으로 연락주세요.
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
</p>

<hr/>

<!--
    Edit this block to show the schedule for your workshop.
-->
<h2>교육 스케쥴</h2>

<div class="row-fluid">
  <div class="span6">
  <div class="span6">
    <h3>1 일차</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>컴퓨터 과학 언플러그드, 컴퓨터적 사고</td> </tr>
      <tr> <td><em>10:30</em></td> <td><em>커피 시간</em></td> </tr>
      <tr> <td>12:00</td> <td>점심 시간</td> </tr>
      <tr> <td>13:00</td> <td>클라우드 VM, 웹 어플리케이션</td> </tr>
      <tr> <td><em>14:30</em></td> <td><em>커피 시간</em></td> </tr>
      <tr> <td>18:00</td> <td>Wrap-up</td> </tr>
    </table>
    <h3>2 일차</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>작업 자동화 (유닉스 쉘)</td> </tr>
      <tr> <td><em>10:20</em></td> <td><em>커피 시간</em></td> </tr>
      <tr> <td>12:00</td> <td>점심 시간</td> </tr>
      <tr> <td>13:00</td> <td>파이썬 프로그래밍</td> </tr>
      <tr> <td><em>14:30</em></td> <td><em>커피 시간</em></td> </tr>
      <tr> <td>18:00</td> <td>Wrap-up</td> </tr>
    </table>
    <h3>3 일차</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>버젼관리(Git)</td> </tr>
      <tr> <td><em>10:30</em></td> <td><em>커피 시간</em></td> </tr>
      <tr> <td>12:00</td> <td>점심 시간</td> </tr>
      <tr> <td>13:00</td> <td>데이터 관리(SQL)</td> </tr>
      <tr> <td><em>14:30</em></td> <td><em>커피 시간</em></td> </tr>
      <tr> <td>18:00</td> <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>

<hr/>

<!--
    Edit this block to show what topics will be covered.
-->
<h2>교육 과정</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>유닉스 쉘</h3>
    <ul>
    <li>쉘(shell) 소개</li>
    <li>파일과 디렉토리</li>
    <li>파일과 디렉토리 생성</li>
    <li>파이프(pipe)와 필터(filter)</li>
    <li>루프(Loops)</li>
    <li>쉘 스크립트(shell script)</li>
    <li>파일, 문자, 디렉토리  등 찾기</li>
    </ul>
  </div>
  <div class="span6">
    <h3>파이썬 프로그래밍</h3>
    <ul>
    <li>환자 데이터(Patient Data) 분석</li>
    <li>함수 생성</li>
    <li>다수의 데이터셋 분석</li>
    <li>조건 선택</li>
    <li>방어적 프로그래밍(Defensive Programming)</li>
    <li>명령-라인(Command-Line) 프로그램</li>
    </ul>
  </div>
  <div class="span6">
    <h3>R 프로그래밍</h3>
    <ul>
    <li>환자 데이터(Patient Data) 분석</li>
    <li>함수 생성</li>
    <li>다수의 데이터셋 분석</li>
    <li>조건 선택</li>
    <li>명령-라인(Command-Line) 프로그램</li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h3>버젼 관리(Git)</h3>
    <ul>
    <li>버젼 관리 소개</li>
    <li>더 훌륭한 백업 방법</li>
    <li>협업(Collaboration)</li>
    <li>충돌(Conflicts)</li>
    <li>공개 과학(Open Science)</li>
    </ul>
  </div>
  <div class="span6">
    <h3>데이터 관리(SQL)</h3>
    <ul>
    <li>데이터 선택하기</li>
    <li>정렬과 중복 제거하기</li>
    <li>필터링(filtering)</li>
    <li>새로운 값 계산하기</li>
    <li>결측 데이터 (Missing Data)</li>
    <li>집합 (Aggregation)</li>
    <li>데이터 조합하기 (Combining Data)</li>
    <li>데이터 생성과 변형</li>
    <li>데이터베이스로 프로그래밍</li>
    </ul>
  </div>
</div>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your workshop.
    (In particular, most workshops teach either Python or R, not both.)
-->

<h2>프로그램 설치</h2>

<p>
  개인 노트북을 지참할 경우 소프트웨어 실습을 위해서 사전에 필요한 소프트웨어를 설치하여 본다.
</p>

{% include setup.html %}
