---
layout: workshop_index
root: ..
title: 워크샵 (Workshops)
nocomments: 1
---
<div id="about">
  <p>
    워크샵은 현장 워크숍을 기본으로 일반적으로 2일 과정이다. 작은 조직에서 생산적으로 연구하거나 업무를 진행하는데 필요한 핵심 기술을 다룬다.
  </p>
  <ul>
    <li>유닉스 쉘 (그리고 반복적인 작업을 자동화하는 방법);</li>
    <li>파이썬 혹은 R(그리고 모듈 방식으로 테스트 가능하게 프로그램을 작성하는 방법);</li>
    <li>Git과 GitHub (그리고 효율적으로 작업을 추적하고 공유하는 방법); and</li>
    <li>SQL (그리고 정형 데이터와 비정형 데이터 간의 차이점).</li>
  </ul>
  <p>
    짧은 강의와 실무 실습이 번갈아 진행된다. 학습 참여자는 본인의 노트북에 소프트웨어를 설치하거나 가상 컴퓨터(virtual machine)를 사용하여 실습한다. 그렇게 함으로써 워크샵을 마쳤을 때, 작업환경을 그대로 가져갈 수 있다.
  </p>
  <p>
    <em>
      모든 워크샵 참여자가 <a href="{{page.root}}/conduct.html">행동 강령(code of conduct)</a>을 준수하여 즐겁고 유익한 워크샵 경험을 가질 수 있도록 한다.
    </em>
  </p>
  <ul>
    <li>
      더 많은 정보를 원하신다면, <a href="{{page.root}}/faq.html">FAQ</a>를 참조하세요.
    </li>
    <li>
      워크샵을 운영하고자 한다면, <a href="{{page.root}}/workshops/operations.html">운영 안내서</a> 혹은 
      <a href="{{page.root}}/workshops/checklists/index.html">점검표</a>를 참조하세요.
    </li>
    <li>
      소프트웨어 카펜트리 직접 교육을 원한다면, <a href="mailto:{{site.contact}}">전자우편</a>으로 연락주세요.
    </li>
  </ul>

  <div align="center">
    <p><em><a href="./previous.html">소프트웨어 카펜트리 워크샵 실시 장소</a></em></p>
  </div>
</div>

<div id="future">
  <h2>예정된 워크샵</h2>
  <table class="table table-striped workshops">
    {% for workshop in site.workshops %}
      {% if workshop.startdate >= site.today %}
        <tr>
          <td><img src="{{page.root}}/img/flags/{{site.flag_size}}/{{workshop.country}}.png" alt="{{workshop.country}}" /></td>
          <td class="link"><a href="{{workshop.url}}">{{workshop.venue}}</a></td>
          <td class="date">{{workshop.humandate}}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>

  <div id="map_canvas" style="width: 98%; height: 500px; margin-left:auto; margin-right: auto; margin-bottom: 15px"></div>

  <div id="calendar">
    <iframe src="https://www.google.com/calendar/embed?title=Boot%20Camps&amp;showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=500&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=efjc2eea4qegtctcrg6kc0nrba9i0rbg%40import.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York"
            style=" border-width:0 "
            width="98%"
            height="500"
            frameborder="0"
            scrolling="no"></iframe>
    <p style="text-align: right; margin-top: 5px;margin-bottom: 5px;">
      <a class="label swc-blue-bg" style="margin-right: 10px" href="http://software-carpentry.org/workshops.ics">Calendar Feed</a>
    </p>
  </div>
</div>

<div id="assessment">
  <h2>평가</h2>
  <p>
    강의를 향상시키기 위해서, 
    <a href="{{page.root}}/workshops/assess/pre-learner.html">학습 참여자를 위한 사전 평가 설문지</a>를 준비해서 강의 적절성을 확실히 하기 위해서 사용하고,  
    <a href="{{page.root}}/workshops/assess/post-learner.html">학습 참여자를 위한 사후 평가 설문지</a>를 준비해서 워크샵이 얼마나 잘 진행되었는지 판단하기 위해서 사용하고,
    <a href="{{page.root}}/workshops/assess/post-instructor.html">강사를 위한 사후 평가 설문지</a>를 준비해서 미세 조정하는데 사용한다.
    <a href="{{page.root}}/workshops/assess/index.html">설문지</a>를 평가하고 인계하는 워크샵을 기획하고 계시다면 연락을 주세요.
  </p>
</div>
