---
---
<!DOCTYPE html>
<html>
  <head>
    {% if page.title %}
      <title>{{ page.title }}</title>
    {% endif %}
    {% include header.html %}
    <link rel="stylesheet" type="text/css" href="{{page.root}}/css/lesson.css" />
    <link rel="stylesheet" type="text/css" href="{{page.root}}/css/book.css" />
  </head>
  <body>
    <div class="container">
      {% include banner.html %}

      <div class="row-fluid">
        <div class="span10 offset1">

	  <div align="center">
	    <h1 class="title">컴퓨터 과학 언플러그드
              <span class="subtitle">버젼 3.1</span>
              <span><h5>한국어 번역: 이광춘</h5></span>
              <span><h5>한국어 삽화: 문춘경</h5></span>
              <span><h5>저자: Tim Bell, Ian H. Witten, Mike Fellows</h5></span>
              <span><h5>실험수업: Robyn Adams and Jane McKenzie</h5></span>
              <span><h5>삽화: Matt Powell</h5></span>
            </h1>
	  </div>

	  <div class="toc">
	    <ul>
	      <li><a href="#introduction">들어가며</a></li>
	      <li><a href="#our-team">한국어 번역</a></li>
	      <li><a href="#unix-shell">감사의 글</a></li>
	      
	      <li><a href="#unix-shell">제1부 정보를 나타내는 원재료&mdash;데이터</a></li>
	      <ul>
		<li><a href="#git">점의 개수를 세다&mdash;이진수</a></li>
		<li><a href="#git">숫자로 색깔 표현하기&mdash;이미지 표현</a></li>
		<li><a href="#git">다시 말할 수 있어요!&mdash;텍스트 압축</a></li>
	      </ul>
	      
	      <li><a href="#git">1</a></li>

	      <li><a href="#reading">추천 도서</a></li>
	      <li><a href="#licenses">라이센스</a></li>
	    </ul>
	  </div>

          {{content}}

	</div>
      </div>

      {% include footer.html %}
    </div>
    {% include javascript.html %}
  </body>
</html>
