---
---
<!DOCTYPE html>
<html>
  <head>
    {% if page.title %}
      <title>{{ page.title }}</title>
    {% endif %}
    {% include header.html %}
    <link rel="stylesheet" type="text/css" href="{{page.root}}/css/lesson.css" />
    <link rel="stylesheet" type="text/css" href="{{page.root}}/css/book.css" />
  </head>
  <body>
    <div class="container">
      {% include banner.html %}

      <div class="row-fluid">
        <div class="span10 offset1">

	  <div align="center">
	    <h1 class="title">소프트웨어 카펜트리
              <span class="subtitle">버젼 5.2</span>
              <span><h5>번역: 이광춘</h5></span>
              <span><h5>저작 및 편집: Greg Wilson</h5></span>
            </h1>
	  </div>

	  <div class="toc">
	    <ul>
	      <li><a href="#introduction">소개</a></li>
	      <li><a href="#our-team">소프트웨어 카펜트리 팀</a></li>
	      <li><a href="#unix-shell">유닉스 쉘(Unix Shell)</a></li>
	      <li><a href="#git">Git을 사용한 버젼 관리</a></li>
	      <li><a href="#python">파이썬 프로그래밍</a></li>
	      <li><a href="#sql-">데이터베이스와 SQL 사용하기</a></li>
	      <li><a href="#extras">유용한 것 몇가지</a></li>
	      <li><a href="#instructors-guide">강사 교육지침</a></li>
	      <li><a href="#reference">참고문헌</a></li>
	      <li><a href="#reading">추천 도서</a></li>
	      <li><a href="#glossary">용어사전</a></li>
	      <li><a href="#rules">규칙</a></li>
	      <li><a href="#licenses">라이센스</a></li>
	    </ul>
	  </div>

          {{content}}

	</div>
      </div>

      {% include footer.html %}
    </div>
    {% include javascript.html %}
  </body>
</html>
